body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header a {
  display: block;
  text-align: center;
  background-image: radial-gradient( circle farthest-corner at 3.9% 11.3%,  rgba(237,120,153,1) 0%, rgba(238,216,190,1) 71.6%, rgba(249,238,221,1) 99.8% );
  text-decoration: none;
  padding: 3%;
  font-size: 2rem;
  color: black;
  width: 45%;
  border-radius: 2px;
  margin: 3% auto;
}
